// Buttons

.button {
  font-family: $sans-bold;
  font-weight: normal;
  font-style: normal;
  font-size: $h6;
  letter-spacing: .1em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  white-space: nowrap;
  display: inline-block;
  height: auto;
  padding: 15px 26px 12px 26px;
  border-radius: 50px;
  text-transform: uppercase;
}

//button transitions

 button {
  opacity: 1;
}

 button:hover {
  opacity: 0.75;
  transition: $fade;
}

.form-button {
  padding: .5*$ui-padding $ui-padding;
  line-height: 0;
}

.button-small {
  line-height: $ui-height-small;
  min-height: $ui-height-small;
}

// Button Themes

.button-standard {
  color: $white;
  background-color: $gray;
  &:hover {
    color: #fff;
    background-color: darken($gray, 20%);
  }
}

.button-dark {
  color: #fff;
  background-color: $dark-gray;
  &:hover {
    color: #fff;
    background-color: darken($dark-gray, 20%);
  }
}

.button-highlight {
  color: #fff;
  text-transform: uppercase;
}

.button-white {
  color: $purple;
  text-transform: uppercase;
  background-color: $white;
  &:hover {
    color: $purple;
    background-color: $light-gray;
  }
  &:focus {}
}
