.issue {
  padding-top: 200px;
  padding-bottom: 200px;
}

.issue-monster-rally {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../journal/monster-rally/images/ted-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100%;
}

.issue-woodsman {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../journal/woodsman/images/woodsman-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100%;
}

.issue-daniel-bachman {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../journal/daniel-bachman/images/daniel-bachman-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100%;
}

.issue-small-sur {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../journal/small-sur/images/hero-smallsur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.issue-wisdom-tooth {
    transition: background 0.5s ease;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../journal/wisdom-tooth/images/wisdom-tooth-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100%;
  // &:hover {
  //   transition: background 0.5s ease;
  //   background:
  //   linear-gradient(
  //     rgba(0, 0, 0, 0.0),
  //     rgba(0, 0, 0, 0.0)
  //   ),
  //   url(../journal/wisdom-tooth/images/wisdom-tooth-hero.jpg);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: center bottom;
  //   height: 100%;
  // }
}

.issue-label {
  float: left;
}
