.issue {
  padding-top: 200px;
  padding-bottom: 200px;
}

.issue-woodsman {
  background: url(../journal/woodsman/images/woodsman-header.jpg);
  background-repeat: no-repeat;
  transition: background 0.5s ease;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
  &:hover {
    background:
    linear-gradient(
      rgba(255, 0, 0, 0.45),
      rgba(255, 0, 0, 0.45)
    ),
    url(../journal/woodsman/images/woodsman-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100%;
  }
}

.issue-label {
  float: left;
}
