//Backgrounds

.monster-rally {
  background-image: url(../journal/monster-rally/images/ted-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
}

.woodsman {
  background-image: url(../journal/woodsman/images/woodsman-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
}

.wisdom-tooth {
  background-image: url(../journal/wisdom-tooth/images/wisdom-tooth-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
}

.small-sur {
  background-image: url(../journal/small-sur/images/hero-smallsur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
}

.daniel-bachman {
  background-image: url(../journal/daniel-bachman/images/daniel-bachman-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
}

// Small Sur

.smallsur-neil {
  background-image: url(../journal/small-sur/images/softcat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100%;
}

.smallsur-wyeoak {
  background-image: url(../journal/small-sur/images/wyeoak.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100%;
}

//Woodsman

.good-dog h1 {
  font-family: 'Merienda One', cursive;
  font-weight: 400;
  line-height: 1.6em;
}

.oswald h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  line-height: 1.6em;
  letter-spacing: .05em;
}

.monoton h1 {
  font-family: 'Passion One', sans-serif;
  line-height: 1.6em;
  text-transform: uppercase !important;
}

@media screen and (max-width: $breakpoint-mobile) {
  .Woodsman {
    background-image: url(../journal/woodsman/images/woodsman-header-mobile.jpg);
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .support {
    background-image: url(../images/subscription.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 100%;
  }
  .wisdomtooth-video {
    padding-right: 0 !important;
  }
}
