//Backgrounds

.dustin {
  background: url(../journal/dustin-wong-takako-minekawa/images/dt-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center center;
}

.dustin-vid-bg {
  background: url(../journal/dustin-wong-takako-minekawa/images/video.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center center;
}

.you-blew-it {
  background-image: url(../journal/you-blew-it/images/hero-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100%;
}

.monster-rally {
  background-image: url(../journal/monster-rally/images/ted-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
}

.michael-nau {
  background-image: url(../journal/michael-nau/images/michael-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
}

.woodsman {
  background-image: url(../journal/woodsman/images/woodsman-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
}

.wisdom-tooth {
  background-image: url(../journal/wisdom-tooth/images/wisdom-tooth-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
}

.small-sur {
  background-image: url(../journal/small-sur/images/hero-smallsur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
}

.daniel-bachman {
  background-image: url(../journal/daniel-bachman/images/daniel-bachman-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
}

// Small Sur

.smallsur-neil {
  background-image: url(../journal/small-sur/images/softcat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100%;
}

.smallsur-wyeoak {
  background-image: url(../journal/small-sur/images/wyeoak.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100%;
}

//Woodsman

.good-dog h1 {
  font-family: 'Merienda One', cursive;
  font-weight: 400;
  line-height: 1.6em;
}

.source h1 {
  font-family: 'font-family: 'Source Code Pro', ;', cursive;
  font-weight: 900;
  line-height: 1.6em;
}

.playfair h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  line-height: 1.6em;
}

.oswald h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  line-height: 1.6em;
  letter-spacing: .05em;
}

.monoton h1 {
  font-family: 'Passion One', sans-serif;
  line-height: 1.6em;
  text-transform: uppercase !important;
}

.hammersmith h1 {
  font-family: 'Hammersmith One', sans-serif;
  text-transform: uppercase;
}

.interview-response {
  padding-top: 30px;
  padding-bottom: 30px;
}

.d {
  color: #494542;
}

.t {
  color: #746e6a;
}


.roboto h5 {
  font-family: 'Roboto Mono';
  line-height: 1.6em;
  letter-spacing: 3px;
  text-transform: uppercase !important;
}

@media screen and (max-width: $breakpoint-mobile) {
  .Woodsman {
    background-image: url(../journal/woodsman/images/woodsman-header-mobile.jpg);
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .support {
    background-image: url(../images/subscription.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 100%;
  }
  .wisdomtooth-video {
    padding-right: 0 !important;
  }
}
