.year1-subscription {
  background: url(..//images/year1-subscription.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 600px;
  padding-bottom: 50px;
}

.subscribe-bg {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../images/ted-poster.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100%;
}

.single-issue {
  z-index: 2000;
  margin-top: -400px;
  img {
    max-width: 600px;
    width: 100%;
  }
}

.subscribe-icon {
  img {
    width: 65px;
  }
  vertical-align: top !important;
  padding-right: 15px;
  padding-top: 15px;
}

.border-top {
  border-top: 3px solid #ff0022;
}

.border-bottom {
  border-bottom: 3px solid #ff0022;
}

@media screen and (max-width: $breakpoint-mobile) {

.single-issue {
  z-index: 2000;
  margin-top: -300px;
  img {
    max-width: 600px;
    width: 100%;
  }
}

}
