---
title: "Singles Club"
description: "Singles Club Issue 3: Woodsman"
socialimage: "images/smallsur_facebook.jpg"
highlight: "#6600FF"
highlight-light: "#f2effe"
highlight-dark: "#1E005F"
soundcloud-url: "https://soundcloud.com/singlesclubfm/woodsman-sc003-further"
page-route: "journal"
artist-name: "Woodsman"
track-name: "Further"
volume-number: "1"
social-image: "images/woodsman-social.jpg"
issue-number: "3"
url: "woodsman"
quarter: "Summer"
purchase-url: ""
year: "2014"
release-number: "003"
subscription-url: "http://singlesclubfm.bigcartel.com/product/singles-club-vol-2-subscription"
single-url: "http://singlesclubfm.bigcartel.com/product/sc003-woodsman"
collection-url: "https://singles-club.myshopify.com/admin/products/207216861"
bundle-url: "https://singles-club.myshopify.com/admin/products/207216861"
---

{% include head.html %}

<body class="bg-white">
    <div class="header-homepage">
      {% include _top-nav.html %}
      <div class="px6">
      <!-- <div class="container px2"> -->
        <div class="row px2 white pb3 pt6">
          <h3 class="caslon py2">Issues</h3>
          <h1 class="mega white"><a href="#" class="db">Daniel Bachman<sup class="title-sup">001</sup></a>, <a href="#" class="ss">Small Sur<sup class="title-sup">002</sup></a>, <a href="#" class="wo">Woodsman<sup class="title-sup">003</sup></a>, <a href="#" class="wt">Wisdom Tooth<sup class="title-sup">004</sup></a>, <a href="#" class="mr">Monster Rally<sup class="title-sup">005</sup></a>, <a href="#" class="yb">You Blew It!<sup class="title-sup">006</sup></a>, <a href="#" class="mn">Michael Nau<sup class="title-sup">007</sup></a>, <a href="#" class="dw">Dustin Wong & <span class="hp-issue-fix">Takako Minekawa<sup class="title-sup">008</sup></span></a></h1>
           <!-- <h1 class="mega white"><a href="#" class="db">Daniel Bachman<sup class="title-sup">001</sup></a>, <a href="#" class="ss">Small<span class="hp-issue-fix">Sur</span><sup class="title-sup">002</sup></a>, <a href="#" class="wo">Woodsman<sup class="title-sup">003</sup></a>, <a href="#" class="wt">Wisdom<span class="hp-issue-fix">Tooth</span><sup class="title-sup">004</sup></a>, <a href="#" class="mr">Monster<span class="hp-issue-fix">Rally</span><sup class="title-sup">005</sup></a>, <a href="#" class="yb"> You<span class="hp-issue-fix">Blew</span><span class="hp-issue-fix">It!</span><sup class="title-sup">006</sup></a>, <a href="#" class="mn">Michael<span class="hp-issue-fix">Nau</span><sup class="title-sup">007</sup></a>, <a href="#" class="dw">Dustin<span class="hp-issue-fix">Wong</span> &<span class="hp-issue-fix">Takako</span><span class="hp-issue-fix">Minekawa<sup class="title-sup">008</sup></span></a></h1> -->
        </div>


      </div>
    </div>
      <div class="homepage-wall px2 white">
        <div class="row">
          <div class="col col-5 clear-padding">
            <div class="bg-green brick latest-mixtape" style="min-height: 500px;">
              <h3 class="caslon">Latest Mixtape</h3>
              <div class="latest-mixtape-content pt4">
                <span class="headline"><h6 class="caps mono-bold pb2">Selects Mix #18</h6></span>
                <h1>Alyssa DeHayes</h1>
                <h4>(Arrowhawk/Riot Act Media)</h4>
                <a href="https://soundcloud.com/singlesclubfm/sets/selects-mix-18-x-alyssa-dehayes" target:"_blank">
                  <button class="button black bg-white">Listen Now</button>
                </a>
            </div>
            </div>
            <div class="listening brick">
              <h3 class="caslon">What we're listening to</h3>
              <iframe class="pt4 pb2" width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/53989950/favorites&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
              <a href="#">
                <button class="button black bg-white">Follow us on soundcloud</button>
              </a>
            </div>
          </div>
          <div class="col col-7 clear-padding">
            <div class="bg-cream brick">
              <h3 class="caslon">About</h3>
              <div class="py2">
                <h5>Singles Club is a record club and music journal started in 2014 as an experiment in combining the way digital and physical music is consumed. While after 8 issues we’ve put our releases on pause we still strive to release monthly mixtapes and continue to share our favorite current listenings big and small. Be easy.</h5>
              </div>
            </div>
            <div class="bg-green brick recommended-reading">
              <h3 class="caslon">Recommended Reading</h3>
              <div class="recommended-reading-content">
                <span class="headline"><h6 class="caps mono-bold pb2">Singles Club Issue 5</h6></span>
                <h1>Monster Rally</h1>
                <a href="#">
                  <button class="button black bg-white">Read Issue</button>
                </a>
              </div>
            </div>
            <div class="brick shop">
              <h3 class="caslon">The shop is open</h3>
              <div class="py5">
                <h1>Records, Shirts, & More</h1>
                <a href="#">
                  <button class="button black bg-white">Shop the shop</button>
                </a>
              </div>
            </div>
            <div class="px6 py6">
              <div class="right-align mobile-center h6 caps">
                    <a href="/issues">Twitter</a>
                    <a href="/subscribe">Facebook</a>
                    <a href="https://singlesclubfm.bigcartel.com/">Instagram</a>
                    <a href="http://singlesclub.fm/blog">Spotify</a>
                    <a href="http://singlesclub.fm/blog">Soundcloud</a>
              </div>
              <div class="right-align mobile-center">
                <h6 class="small mono black">© 2016 Singles Club - All Rights Reserved</h6>
                <img src="/images/logo-hinted-black.svg" class="logo" style="width: 115px;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer pb6" style="margin-top: -93px !important">
        <div class="container px2">
          <div class="row">
            <div class="col col-4 mobile-center">
                <ul class="list-reset demi lh2 h5 black">
                  <li><a href="/issues">Issues</a></li>
                  <li><a href="/shop">Shop</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/mixtapes">Mixtapes</a></li>
                  <li><a href="/contributors">Contributors</a></li>
                </ul>
                <div class="mobile-hide">
                  <div class="fb-like" data-href="http://www.facebook.com/singlesclubfm" data-layout="standard" data-action="like" data-colorscheme="dark" data-show-faces="true" data-share="true"></div>
                </div>
            </div>
<!--             <div class="col col-8 ">
                <div class="right-align mobile-center h6 caps">
                  <a href="/issues">Twitter</a>
                  <a href="/subscribe">Facebook</a>
                  <a href="https://singlesclubfm.bigcartel.com/">Instagram</a>
                  <a href="http://singlesclub.fm/blog">Spotify</a>
                  <a href="http://singlesclub.fm/blog">Soundcloud</a>
                </div>
                <div class="right-align mobile-center">
                  <h6 class="small mono">© 2016 Singles Club - All Rights Reserved</h6>
                </div>
              </div> -->
            </div>
          </div>
        </div>

</body>
</html>
