<style>


/* COMMENT TO DISPLAY SMALL BANNER*/
/*  .alert-plus {
    display: none;
  }*/

/* COMMENT TO DISPLAY IMAGE BANNER*/

  .alert {
    display: none;
  }

</style>

<!-- Mini Banner -->
<div class="alert bg-white px2">
    <h4 class="h4 white center dark-gray mobile-center py2">
      Issue 2 still available in the shop <a href="#" class="caps" style="margin-left: 30px; margin-top: 10px;">Pick one up</a>
    </h4>
</div>

<!-- Image Banner -->
<div class="alert-plus christmas white px2 mobile-center">
  <div class="table">
    <div class="table-cell" style="width: 100%;">
        <div class="table">
          <div class="table-cell">
            <h4 class="h4 white center mobile-center py3">
             25% off everything in the shop. Guaranteed delivery by Dec. 25. <a href="http://shop.singlesclub.fm">Shop Now</a>.
            </h4>
          </div>
          <!-- <div class="table-cell mobile-center py2 px3">
            <a href="#">
              <div class="button button-small button-highlight">
                SHOP NOW
              </div>
            </a>
          </div> -->
        </div>
    </div>
<!--     <div class="table-cell alert-image">
        <img src="/images/record.png" style="width: 200px;" class="pt1">
    </div> -->
  </div>
</div>
