<div class="bg-light-gray">
  <div class="container py6 px2">
    <div class="row pb4 px2">
      <img src="/images/sc.svg" style="width: 20px; margin-right: 10px" class="left">
      <h6 class="h6 caps white" style="margin-top: 5px;">Issue #{{ page.issue-number }} - {{ page.artist-name }}</h6>
    </div>
    <div class="row dark-gray">
      <div class="col col-8">
        <h2 class="h2 dark-gray py2">
        An introduction...
        </h2>
        <h4 class="h4">Gone without a trace, the Monster Island Basement was once half a square-block on River Street by the Williamsburg waterfront that held an art gallery, a hall of practice spaces, a single residence, and an intimate venue primarily for emerging local and national artists. Many of the acts that played the basement would “not be playing this kind of venue for much longer,” the media would perpetuate, but these sorts of rooms had long been a staple of the New York City art-party scene. This ethos was at fever pitch in 2010. </h4>
      </div>
      <div class="col col-3 col-offset-1 right-align mobile-center pt4">
        <h5 class="h5 caps py2 gray">
          Issue partners:
        </h5>
        <img src="images/mailchimp.png" class="fit py1">
        <img src="images/big-commerce.png" class="fit py1">
        <p class="gray"> A special thanks for our amazing content partners who help us create great content and keep our digital issues free.</p>
      </div>
    </div>
  </div>
</div>
