<div class="bg-black site-footer">
  <div class="container px2">
    <div class="row py4">
      <div class="col col-4 mobile-center">
        <div class="pt2 mobile-hide">
            <div class="fb-like" data-href="http://www.facebook.com/singlesclubfm" data-layout="standard" data-action="like" data-colorscheme="dark" data-show-faces="true" data-share="true"></div>
        </div>
      </div>
      <div class="col col-8 right-align">
        <div class="row pb1 title-caps">
          <ul>
            <li><a href="/issues">Issues</a></li>
            <li><a href="http://singles-club.myshopify.com/products/singles-club-2014-subscription">Subscribe</a></li>
            <!-- <li><a href="http://www.singlesclub.fm/blog">Blog</a></li> -->
            <li><a href="http://shop.singlesclub.fm">The Shop</a></li>
            <li><a href="/about">About / FAQ</a></li>
            <li><a href="mailto:hello@singlesclub.fm">Contact</a></li>
          </ul>
        </div>
<!--          <div class="row pb1">
            <ul>
              <li><a href="#">Change Of Address</a></li>
              <li><a href="#">Partnerships</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="bg-dark-gray center py2">
  <div class="container px2 social-footer py2">
        <ul>
          <li><a href="http://www.twitter.com/singlesclubfm">Twitter</a></li>
          <li><a href="http://www.instagram.com/singlesclubfm">Instagram</a></li>
          <li><a href="https://www.facebook.com/singlesclubfm">Facebook</a></li>
          <li><a href="http://www.soundcloud.com/singlesclubfm">Soundcloud</a></li>
        </ul>
        <h6 class="gray pt1"> P.O. Box 550 Brooklyn NY 11211 © 2015 Singles Club LLC - All Rights Reserved</h6>
  </div>
</div>
{% include _scripts.html %}
</body>
</html>
