  <div class="bg-white support">
    <div class="container px2 gray py4">
      <div class="row pb4 px2">
        <img src="/images/sc.svg" style="width: 20px; margin-right: 10px" class="left">
        <h6 class="h6 caps white" style="margin-top: 5px;">SUPPORT SINGLES CLUB</h6>
      </div>
      <div class="row dark-gray px2">
        <div class="col col-8">
          <div class="row">
            <h2 class="h2 dark-gray">
            Like what you see & hear?
            </h2>
            <h2 class="h2 dark-gray pb3">
              This is just the half of it.
            </h2>
          </div>
          <div class="row">
            <h4 class="h4"> We tell stories through both digital journals and physical records. Subscribe to the club and own the A-Side track featured above PLUS the B-Side featuring an interview with Bob Keal from Small Sur.
            </h4>
            <h4 class="h4">
            You'll also receive Issue #1 featuring Daniel Bachman and get the remaining two issues mailed to you upon release. All for $65 including shipping.
            </h4>
          </div>
          <div class="row pt4">
              <h5 class="h5 caps pb2">Subscriptions Include</h5>
              <p> All four releases from 2014, custom 45 box, Singles Club Pin, 45 adapter, digital download of each single. </p>
              <a href="http://shop.singlesclub.fm/product/singles-club-2014-subscription">
                <div class="button button-highlight mt2 white">
                  Learn more & Subscribe
                </div>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
