<div class="col col-4 mobile-center py2">
  <h4 class="h4 pb2">
    Mail Club
  </h4>
  <h5>Join our newsletter for new tunes, mix tapes, and features every month.</h5>
  <form action="//singlesclub.us6.list-manage.com/subscribe/post?u=27badb2e91&amp;id=1781494ce0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate py2" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email" class="field-light mb1 email" style="height: 50px; padding-left: 15px; padding-right: 15px;" required>
    <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button button-small button-highlight">
  </form>
</div>
