<div class="bg-light-gray">
<div class="container px3">
<div class="py4">
    <div class="row pb2">
      <div class="center">
        <h1 class="lydia-italic ls1 pb3"> SUBSCRIPTIONS INCLUDE </h1>
        <img src="/../images/vol2-subscription.jpg" class="fit">
      </div>
    </div>
    <div class="py4">
    <div class="row py2">
      <div class="col col-3">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-box.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">45 Box</h4>
            <p>Our signature Singles Club box that holds up to 4 issues.</p>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-adapter.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">45 Adapter</h4>
            <p>A "Stay Single" 45 adapter to play each issue.</p>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-color.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">Color Variant</h4>
            <p>Subscribers receive a special clear vinyl variant.</p>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-2weeks.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">Pre-Release</h4>
            <p>Issues start shipping to subscribers a full 2 weeks in advance of the journal release.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row py2">
      <div class="col col-3">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-pin.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">SC Pin</h4>
            <p>Our signature enamel lapel pin. Wear it proud.</p>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-artist.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">Bonus Item</h4>
            <p>We've worked with each artist to come up with a special printed artifact, just for subscribers.</p>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-100.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">4 Issues</h4>
            <p>On or around every 3 months. Sometimes earlier, sometimes later.</p>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-shipping.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">Shipping Included</h4>
            <p>To your door, every quarter.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row center light">
      <p>Subscribers will also have the opportunity to purchase back-issues from our catalog & more perks throughout the year!</p>
    </div>
</div>
</div>
</div>
<div class="py4 subscribe-bg">
  <div class="container px2 white">
    <div class="row center">
      <h1 class="lydia caps">Singles Club Subscription</h1>
      <h2>4 Issues</h2>
      <h2>$55 incl. shipping</h2>
      <a href="http://shop.singlesclub.fm/products/singles-club-vol-2-subscription">
        <div class="button button-highlight mt2 white">
          Subscribe Now
        </div>
      </a>
      <p class="pt2">New subscriptions start with Issue 5 - Monster Rally<p>
      <p>Monster Rally LP Bundles available!</p>
    </div>
  </div>
</div>

