<div class="bg-light-gray">
<div class="container px2">
<div class="py4">
    <div class="row pb2">
      <div class="center">
        <h3 class="lydia ls1"> SUBSCRIPTIONS INCLUDE </h3>
      </div>
    </div>
    <div class="row py2">
      <div class="col col-3">
        <div class="table">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-box.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">45 Box</h4>
            <h5>Our signature Singles Club box that holds up to 4 issues.</h5>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="table">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-adapter.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">45 Adapter</h4>
            <h5>A "Stay Single" 45 adapter to play each issue.</h5>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="table">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-color.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">Color Variant</h4>
            <h5>Subscribers receive a special clear vinyl variant.</h5>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="table">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-2weeks.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">Pre-Release</h4>
            <h5>Issues start shipping to subscribers a full 2 weeks in advance of the journal release.</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row py2">
      <div class="col col-3">
        <div class="table">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-pin.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">SC Pin</h4>
            <h5>Our signature enamel lapel pin. Wear it proud.</h5>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="table">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-artist.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">Bonus Item</h4>
            <h5>We've worked with each artist to come up with a special printed artifact, just for subscribers.</h5>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="table">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-100.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">Limited Pressing</h4>
            <h5>Subscriptions are limited to 100 per Issue. Thats not many, huh?</h5>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="table">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-shipping.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">Shipping Included</h4>
            <h5>To your door, every quarter.</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row center light">
      <h4>Subscribers will also have the opportunity to purchase back-issues from our catalog & more perks throughout the year!</h4>
    </div>
</div>
</div>
</div>
<div class="py4 subscribe-bg">
  <div class="container px2 white">
    <div class="row center">
      <h1 class="lydia caps">Singles Club Subscription</h1>
      <h2>4 Issues</h2>
      <h2>$55 incl. shipping</h2>
      <a href="http://singles-club.myshopify.com/products/singles-club-2014-subscription">
        <div class="button button-highlight mt2 white">
          Subscribe Now
        </div>
      </a>
      <p class="pt2">New subscriptions start with Issue 5 - Monster Rally<p>
      <p>Monster Rally LP Bundles available!</p>
    </div>
  </div>
</div>
