<div id="mobile-top-nav" class="bg-gray py3 center">
  <ul class="list-reset white">
    <li><a href="#">About</a></li>
    <li><a href="#">Issues</a></li>
    <li><a href="#">Subscribe</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Mixtape</a></li>
    <li><a href="#">The Shop</a></li>
  </ul>
</div>
<div class="main-nav border-highlight container px2">
  <div class="px2">
    <div class="table">
      <div class="table-cell">
        <div class="mobile-center">
          <a href="http://www.tumblr.com" class="mobile-hide no-hover">
            <img src="/images/logo-straight.svg" class="" style="width: 200px; padding-top: 25px; padding-bottom: 20px; padding-left: 20px;">
          </a>
          <a href="#" id="toggle-top-nav" class="desktop-hide no-hover">
            <img src="/images/logo-hinted-white.svg" class="logo">
          </a>
        </div>
      </div>
      <div class="table-cell mobile-hide">
        <div class="right-align top-nav-links">
          <a href="#">About</a>
          <a href="#">Issues</a>
          <a href="#">Subscribe</a>
          <a href="#">Blog</a>
          <a href="#">Mixtapes</a>
          <a href="#">The Shop</a>
        </div>
      </div>
    </div>
  </div>
</div>
