---
title: "Issue 7 – Michael Nau"
description: "Singles Club Issue 7: Michael Nau"
url: "http://www.singlesclub.com/journal/michael-nau"
social-image: "images/smallsur_facebook.jpg"
highlight: "#D6C46E"
highlight-light: "#f6e596"
highlight-dark: "#978a4d"
soundcloud-url: "https://soundcloud.com/singlesclubfm/sc007-michael-nau-love-survive"
artist-name: "Michael Nau"
track-name: "Love Survive"
volume-number: "2"
page-route: "journal"
issue-number: "7"
quarter: "Fall"
subscription-url: "http://shop.singlesclub.fm/products/singles-club-vol-2-subscription"
single-url: "http://shop.singlesclub.fm/products/sc007-michael-nau"
year: "2015"
release-number: "007"
---

{% include head.html %}

<body ng-app="plangular">
  <div plangular="{{ page.soundcloud-url }}">
    <!--HEADER-->
    <div class="issue-header-wrapper michael-nau">
      {% include _alert-banner.html %}
      {% include _top-nav.html %}
      {% include _issue-title.html %}
    </div>
      {% include _player-nav.html %}
    </div>
    <div class="feature feature-wrapper">
      <h6 class="gray sans-serif px2 pt2 pb6">Photo by <a href="http://juliarobbs.com/"> Julia Robbs </a></h6>
      <div id="feature1" class="container px2">
        <!--FEATURE 1-->
        <div class="row pb4 px2 mobile-center">
          <img src="/images/sc-black.svg" style="width: 20px; margin-right: 10px" class="left">
          <h6 class="h6 title-caps" style="margin-top: 3px;">FEATURE 1 – WORDS BY Jason P. Woodbury</h6>
        </div>
        <div class="row">
          <div class="col col-10 col-offset-1 py3">
            <div class="row py4 center playfair caps px2">
                <h1 class="mega">Only My Love Survive</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-8 col-offset-2 serif">
            <h3 class="py2"> The music of Michael Nau sounds effortless.</h3>
            <h3 class="py2"> Its soulful, amble strut is easygoing, and the entwined melodies of Cumberland, Maryland’s Michael Nau and his wife Whitney McGraw sound breezy, gentle, and warm, like they’re nursing mid-morning ice tea as the clouds roll by or a taking the first pull off a sweat-beaded Corona on a humid, late summer evening. “This is my conquering song,” Nau sings over the R&B hip-shaking of his backing band, confident, charming, and in control. “This is my thankful song…for the spirit of the eternal drum…where only my love survive.”</h3>

          <div class="col-6 right p2 clear-padding float-image">
            <img src="images/michael-son.jpg" class="fit">
            <h6 class="gray sans-serif">Michael & his son</h6>
          </div>
            <p class="py2">Nau’s sound is one of “always feeling good,” as McGraw sang on the 2009’s Rio Ranger EP, with their group, Cotton Jones. But music doesn’t come easy, and for Nau, it’s increasingly become a balancing act — Nau and McGraw juggle marriage and parenthood, the thrill of live performance with dedicated studio time, musical inspiration with the necessities of maintaining a home, and the odd jobs that entails. Nau’s always picked up work while focusing on music, and it started young for him and McGraw, who were only in their early twenties when they first struck out with the indie pop group Page France.</p>

            <p class="py2"> “I started pretty young, recording on a four-track cassette,” Nau says. “Page France was the first experience I had writing songs, having pieces of songs, and putting them together with other people, making a record with the intention of putting songs together.” Bolstered by their naturalistic and freaky indie hit “Jesus,” from the 2006 album Hello, Dear Wind, the band took to the road. </p>

            <p class="py2"> “I’ve never held down a steady job or anything like that,” he added. “As long as we stayed on the road and made a couple hundred bucks a night to get to the next place and something to eat we were okay. I just got so used to being on the move, and it just became my reality. Being on tour, meeting people, being in a different situation every day.” </p>

          </div>
          <img src="images/michael-pier.jpg" class="full-width py2">
        </div>
        <div class="row">
          <div class="col col-8 col-offset-2 serif">
            <p class="py2">By 2008, Nau and McGraw had turned their attention to a new project, the Cotton Jones Basket Ride, eventually shortened to the more direct Cotton Jones moniker, and released a full length, The River Strumming, a heady which invoked ‘60s psychedelia with fuzzy guitars, reverb-dripping vocals, and church organ. It was something new from the couple; more nuanced, less precious, owing to the Harry Nilsson, Kinks, Van Morrison, and Lee Hazlewood and Nancy Sinatra records in their record collection. And if Page France evoked spiritual themes via the direct language of indie folk, Cotton Jones did so by channeling American gospel and soul.“I grew up with gospel music, which I still really love,” Nau says. “Soul music and gospel — a lot of that has the same spirit.” </p>

            <div class="col-6 right p2 clear-padding float-image">
              <img src="images/organs.jpg" class="fit">
            </div>


            <p class="py2"> Nau and McGraw have continued to chisel at and refine their sound. Each LP that followed, 2009’s Paranoid Cocoon and 2010’s Tall Hours in the Glowstream, found the couple’s songs more evocative and more timeless, with ancient doo-wop cozied up against gentle country soul, folk songs with joyful touches of hand percussion. Sometimes the duo didn’t even need words: “Photo Summerlude” curled like a faded picture tacked to the wall; “Soft Mountain Shake” played like a grainy home video of your earliest memories.</p>

            <p class="py2"> In 2010, the couple married, and soon had a son. He’s four now, and they have another child on the way, so the band’s learned to adapt and accommodate the family. Nau likes working with his hands, so in between recording and playing shows, he works construction jobs, finding himself on roofs and in backyards. “I feel tired at the end of the day,” Nau says. “I like that.”
In 2016, Nau will continue to release music under his own name. The decision to shift to his given name is a complicated one. Nau had a backlog of songs, recorded in Burlington, Vermont, in Connecticut, in Nashville, and in Maryland, songs recorded without much consideration given to where they’d ultimately end up. Some sound like Cotton Jones songs, he admits, because they could have become them. But recording under his own name is less a matter of artistic license and more of utility, Nau explains. Having the solo outlet ultimately helps Cotton Jones to continue along when the couple is able to make it work. </p>
          </div>
        </div>
      </div>
              <div class="image-set">
        <div class="px4 clear-padding">
          <img src="images/whitney-live.jpg" class="half-width left">
          <img src="images/michael-live.jpg" class="half-width">
          <h6 class="gray sans-serif py2">Whitney & Michael performing in San Francisco, CA 10/20/15. (Photo by <a href="http://juliarobbs.com/">Julia Robbs)</a></h6>
        </div>
      </div>
      <div class="container px2">
        <div class="row">
          <div class="col col-8 col-offset-2 serif">
            <p class="py2">“Our kid’s in school now,” Nau says. “So it’s kind of something where I can have both projects working alongside each other…and get to play music more, it’s kind of a way to do that. Whitney sings on the record, too. A lot of these songs were probably originally intended to be Cotton Jones songs, but it got to a point where I felt like if I intended to more forward, it’s got to be this.”
            Nau’s solo sound isn’t far removed from his work with Cotton Jones, but there’s a certain kind of growth evident in new songs like “Love Survive.” It’s nimble and funky, but as steeped in nostalgia as Nau and McGraw’s best work. “I’ve been trying to write more music that can vibe like that, or that moves in that way,” Nau says. Propelled by a rolling piano line and McGraw’s cooing background vocals, it was mostly recorded live, a format Nau is increasingly drawn to.
            “I like recording, and I like making records, but I’ve realized that the most collaborative and most connected I feel is whenever we’re playing shows,” Nau says. “I like being able to transform songs and find new ways to keep old things fresh.” </p>
            <p class="pt2 pb4"> On stage, that connection might seem like magic, effortless, but like everything else — family, good art, fixing someone’s roof — it’s work. Michael Nau is still figuring out how to make it work. </p>
          </div>
        </div>
      </div>
    </div>
<img src="images/michael-spotlight.jpg" class="full-width">
<!-- End Feature 1 -->
    <div class="feature-wrapper py6 bg-off-black ">
      <div class="container px2">
        <div class="row pb4 px2">
          <img src="/images/sc-white.svg" style="width: 20px; margin-right: 10px" class="left">
          <h6 class="h6 title-caps light-gray" style="margin-top: 3px;">FEATURE 2 – WORDS BY jeffrey silverstein</h6>
        </div>
        <div class="row playfair px2 py4 center highlight">
          <div class="col col-10 col-offset-1">
            <h1 class="mega py4 caps">from the editor</h1>
          </div>
        </div>
        <div class="row playfair px2 light-gray">
          <div class="col col-10 col-offset-1">
            <h3 class="serif py3">Years ago in Baltimore, an old friend and I recounted the musicians whom we admired for being able to do a lot with seemingly very little. Songwriters who could do more with two-chords than even the most technically adept players. Names like Jeff Tweedy, Andy Cabic and David Bazan were mentioned, both eventually landing on our top contender, Michael Nau. Songs like ‘Chariot’, ‘Blood Red Sentimental Blues’ and ‘Somehow to Keep It Going’ were the focal points of the conversation. It was a ‘holy shit,’ moment for me as I was finally able to pin-point what drew me not only to what I enjoy about all of Michael’s projects, but what I sought to accomplish in my own songwriting. There is no gimmick, nothing forged with Michael. He sings about what he knows and does it with such poise. Nothing compares to seeing Michael perform live. His soulful voice commands a room, oftentimes leaving newcomers with mouths agape. Look around the room and it’s all smiles.</h3>

            <h3 class="serif py3">Alongside his partner in crime Whitney McGraw, it has been a privilege to watch his songwriting continue to grow and take shape. Getting the green light to work with Michael on this issue marked an important milestone in this project for both Chris and myself. His music has soundtracked countless tours, road-trips and work-sessions for us, never ceasing to put our busy minds at ease. Having turned to Page France and Cotton Jones LPs for for inspiration for over a decade, we’re honored to be able to continue to spread the Nau gospel far and wide. Much like his music, Michael carries a warm, lighthearted spirit with him. Spending time with him gives you that ‘hey, everything is going be alright’ feeling. One we could all use a little bit more of these days.</h3>

            <h3 class="serif py3">Huge thanks to Michael, Whitney, Julie, Jason, Julia and everyone else who had a hand in making this issue happen.</h3>

            <h2 class="serif py3">✌</h2>

          </div>
        </div>
      </div>
    </div>
<!---Feature 3 -->
    <div class="feature-wrapper py6 bg-white border-top">
      <div class="container px2">
        <div class="row pb4 px2">
          <img src="/images/sc-black.svg" style="width: 20px; margin-right: 10px" class="left">
          <h6 class="h6 title-caps" style="margin-top: 3px;">FEATURE 3 – WORDS BY Michael Nau</h6>
        </div>
        <div class="row center playfair px2 py4">
          <div class="col col-10 col-offset-1">
            <h1 class="mega py4 caps">Five Before You Die</h1>
            <h3 class="serif">Five records I've been listening to recently - some are new to me, while others are ones that I keep coming back to, time after time. I was asked to say something specific about each.. what I like about them.. but I found that to be difficult. Perhaps that's what I like about these.
</h3>
          </div>
        </div>
        <!--Record-->
        <div class="row py3">
          <div class="col col-4 col-offset-2 center">
            <img src="images/astrud.jpg" class="fit py2">
            <h4>Astrud Gilberto – <i>"I Haven't Got Anything Better To Do"</i></h4>
          </div>
          <div class="col col-4 center">
            <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A19BcISf2AUnA6E3vFclkFV" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
        <!--End-Record-->
        <!--Record-->
        <div class="row py3">
          <div class="col col-4 col-offset-2 center">
            <img src="images/damien.jpg" class="fit py2">
            <h4>Damien Jurado – <i>"Maraqopa"</i></h4>
          </div>
          <div class="col col-4 center">
            <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A3eG1sDAw2hA1LQHgdLxF1x" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
        <!--End-Record-->
        <!--Record-->
        <div class="row py3">
          <div class="col col-4 col-offset-2 center">
            <img src="images/little-wings.jpg" class="fit py2">
            <h4>Little Wings – <i>"Black Grass"</i></h4>
          </div>
          <div class="col col-4 center">
            <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A4EEu4jpKWAYoDPEmErFmpl" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
        <!--End-Record-->
        <div class="row py3">
          <div class="col col-4 col-offset-2 center">
            <img src="images/ted-lucas.jpg" class="fit py2">
            <h4>Ted Lucas – <i>"Ted Lucas"</i></h4>
          </div>
          <div class="col col-4 center">
            <img src="images/horace.jpg" class="fit py2">
            <h4>Horace Andy, Winston Jarret & The Wailers – <i>"Earth Must Be Hell"</i></h4>
          </div>
        </div>
       </div>
      </div>

<!--Subscribe-->
<div class="bg-white border-top">
  <div class="container px2">
  <div class="row">
    <div class="col col-6">
      <img src="images/michael-cover-mock.jpg" class="fit center">
    </div>
    <div class="col col-6 py4">
      <h2 class="lydia-italic caps">JOIN THE CLUB</h2>
      <p>Singles Club is a subscription record club and digital music journal published quarterly. This single contains an exclusive A-Side recording from the artist along with an interview on the B-Side featuring the artist's description of the project and track.</p>
      <p class="py2">Grab THIS issue right now or subscribe for a year of singles + extra perks.</p>
      <a href="/../subscribe">
        <div class="mobile-hide button button-small button-highlight">
          Buy / Subscribe
        </div>
      </a>
    </div>
  </div>
  </div>
</div>

<!--Footer-->
<div class="bg-black">
    <div class="container px2 gray issue-footer link-mid-gray">
      <div class="row py4">
        {% include _mailing-list.html %}
        <div class="col col-3 col-offset-2 py2">
            <h4 class="pb2"> Issue Credits </h4>
            <h5 class="title-caps pb1">
              Art Direction & Design
            </h5>
            <h6>
              <a href="www.chrismuccioli.com">Chris Muccioli</a><br>
            </h6>
          <div class="py2">
            <h5 class="title-caps pb1">
              Editor
            </h5>
            <h6>
              <a href="https://twitter.com/futuremyth">Jeffrey Silverstein</a><br>
            </h6>
          </div>
          <div class="py2">
            <h5 class="title-caps pb1">
              Photography
            </h5>
            <h6>
              <a href="http://juliarobbs.com/">Julia Robbs</a><br>
              Julie Mizak<br>
              Whitney McGraw<br>
            </h6>
          </div>
          <div class="py2">
            <h5 class="title-caps pb1">
              Writers
            </h5>
            <h6>
              <a href="https://twitter.com/jasonpwoodbury">Jason P. Woodburry</a><br>
            </h6>
          </div>
        </div>
        <div class="col col-3 py2">
            <h4 class="pb2"> Pressing Info </h4>
            <h5 class="pb1 title-caps">
              Side A: Love Survive
            </h5>
            <h6>
              Written by: Michael Nau<br>
              Recorded by: Oliver Gebhardt at Sound Loom in Burlington, VT<br>
              Digitally Mastered by: Nathan Sabatino<br>
              Written by: Michael Nau<br>
              Performed by: Ryan Spellman (Drums), Benny Yurco (Guitar), Will Brown (Piano, Marimba), Scott McMicken (Bass), Whitney McGraw (Vocals), Ari Abedon (Organ), Mike Nau (Nylon, Vocals)
            </h6>
        </div>

        <div class="col col-3">
          <div class="py2">
            <h5 class="pb1 title-caps">
              Side B: Interview
            </h5>
            <h6>
              Recorded & mixed by Chris Muccioli in Brooklyn, NY.
            </h6>
          </div>
<!--           <div class="py2">
            <h4 class=" pb1">
              Creative Partner
            </h4>
            <a href="http://www.jukely.com" class="no-link">
              <img src="images/jukely-white.svg" style="max-width: 200px;" class="py2">
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
      {% include _issue-footer.html %}
</body>
</html>
