---
title: "Issue 8 - Dustin Wong & Takako Minekawa"
description: "Issue 8 feat. Dustin Wong & Takako Minekawa – Early 2016"
socialimage: "images/smallsur_facebook.jpg"
highlight: "#E21948"
highlight-light: "#F97484"
highlight-dark: "#B2424F"
---
{% include head.html %}

<body class="dark-gray bg-white issue-header-wrapper ">
<div class="dustin">
  {% include _alert-banner.html %}
{% include _top-nav.html %}
  <div class="container px2 white">
      <div class="row issue-title-wrapper">
    <div class="col col-12 mobile-center">
          <div class="row py2 px2">
            <img src="/../images/sc.svg" style="width: 20px; margin-right: 10px" class="left mobile-hide">
            <h6 class="caps" style="margin-top: 3px;">Issue #008 | COMING SOON</h6>
          </div>
          <div class="row py3">
            <div class="col col-7">
              <h1 class="mega headline-type">Dustin Wong & Takako Minekawa</h1>
            </div>
          </div>
          <div class="row">
            <div class="col col-6">
              <p>After a 13-year hiatus from Japanese shibuya-kei artist Takako Minekawa, a series of performances from Ponytail guitarist Dustin Wong would reinvigorate her. Soon after a few correspondences, 2013’s Toropical Circle marked their first collaborative effort, a playful and buoyant record that saw the onset of a lasting musical affinity. The follow-up LP, Savage Imagination found the two in symbiosis, Wong’s technical, loop-heavy guitar playing floating seamlessly in and out of the hushed and serene vocals of Minekawa. </p>
            </div>
          </div>
          <div class="row py2">
            <div class="col col-6">
              <p>Prior to embarking on their first ever tour in China earlier this year, Takako and Dustin sent us ‘Payapaya’, an equally transcendental continuation of their already impressive catalogue. Issue 8 feat. ‘Payapaya’ is available for pre-order now exclusively in the shop via single issue purchase or subscription. Limited to 250 copies. 100 on clear wax for subscribers. </p>
            </div>
          </div>
          <div class="row py2">
            <div class="col col-3">
              <p>Want a primer to the music of Dustin & Takako? Take a listen to a few of our choice selects from their discographies.</p>
              <h6 class="py3 gray">COVER PHOTO BY RUI LU</h6>
            </div>
            <div class="col col-3">
              <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Asinglesclub%3Aplaylist%3A5FdC9aQ34iEHqW44cnM9my" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
            </div>
          </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="bg-black">
  <div class="container px3 white">
    <div class="row py4">
      <div class="col col-4 py2">
        <h6 class="py2 caps">SC008 feat. Dustin Wong & Takako Minekawa</h6>
        <h5>Side A: Payapaya</h5>
        <h5>Side B: Interview</h5>
        <p class="py2">7"/45RPM Record packaged in a THICK Picture Disc poly sleeve w/ full color, die-cut insert. Pressing of 200 on black vinyl and 100 on clear (<a href="/../subscribe">Exlusively for subscribers</a>).</p>
                    <a href="http://shop.singlesclub.fm/products/sc008-dustin-wong-takako-minekawa">
              <div class="button button-highlight mt2 white">
                $8 – Pre-Order Now
              </div>
            </a>
      </div>
      <div class="col col-4">
        <img src="images/dt-7.jpg" class="fit center">
      </div>
      <div class="col col-4">
        <img src="images/dt-7-front.jpg" class="fit center">
      </div>
    </div>
  </div>
</div>

<div class="center py2 bg-highlight">
  <h3 style="margin-top: 3px;" class="black" class="bold">LOOKING FOR OUR LATEST ISSUE? <span style="color: #fff;"> READ SC007 FEAT. MICHAEL NAU </span><a style="color: #fff;" href="/../journal/michael-nau">RIGHT HERE</a></h3>
</div>
<div class="bg-white">
<div class="container px3">
<div class="py4">
    <div class="row">
      <h3 class="lydia-italic caps pb3"> SUBSCRIBE FOR ISSUE 8 AND MORE</h3>
      <div class="col col-4">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-box.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">45 Box</h4>
            <p>Our signature Singles Club box that holds up to 4 issues.</p>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-adapter.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">45 Adapter</h4>
            <p>A "Stay Single" 45 adapter to play each issue.</p>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-color.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">Color Variant</h4>
            <p>Subscribers receive a special clear vinyl variant.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row py2">
      <div class="col col-4">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-pin.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">SC Pin</h4>
            <p>Our signature enamel lapel pin. Wear it proud.</p>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-artist.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">Bonus Item</h4>
            <p>We've worked with each artist to come up with a special printed artifact, just for subscribers.</p>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-100.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">4 Issues</h4>
            <p>On or around every 3 months. Sometimes earlier, sometimes later.</p>
          </div>
        </div>
      </div>
    </div>
      <a href="http://shop.singlesclub.fm/products/singles-club-vol-2-subscription">
        <div class="button button-highlight mt2 white">
          $55 – Subscribe Now
        </div>
      </a>
    </div>
</div>
</div>

</div>


{% include _footer.html %}
</body>
</html>
