---
title: "About / FAQ - Singles Club"
description: "About Singles Club"
socialimage: "images/smallsur_facebook.jpg"
highlight: "#D6C46E"
highlight-light: "#f6e596"
highlight-dark: "#978a4d"
---
{% include head.html %}
<body class="bg-light-gray">
{% include _alert-banner.html %}
{% include _top-nav.html %}
<div class="container soft-page">
  <div class="row">
    <div class="col col-3">
      <h1 class="lydia-italic caps pb4">About</h1>
        <h5 class="title-caps">Featured In</h5>
        <ul class="list-reset lh3">
          <li><a href="http://www.thefuturepositive.com/projects/singles-club/" target="_blank">Future Positive</a></li>
          <li><a href="http://www.thefader.com/2013/11/25/stream-daniel-bachmans-coming-home-the-first-release-of-new-labelpublication-singles-club" target="_blank">The Fader</a></li>
          <li><a href="http://www.bkmag.com/2014/08/20/need-to-know-singles-club/" target="_blank">Brooklyn Mag</a></li>
          <li><a href="http://blogs.villagevoice.com/music/2014/04/premiere_small.php" target="_blank">The Village Voice</a></li>
          <li><a href="http://www.brooklynvegan.com/archives/2014/12/wisdom_tooth_jo.html" target="_blank">Brooklyn Vegan</a></li>
        </ul>
        <h5 class="title-caps">Stockists</h5>
        <ul class="list-reset lh3">
          <li><a href="http://www.grimeys.com/" target="_blank">Grimeys (Nashville, TN)</a></li>
          <li><a href="http://hymiesrecords.com/" target="_blank">Hymies Vintage Records (Minneapolis, MN)</a></li>
          <li><a href="http://www.deepthoughtsjp.com/" target="_blank">Deep Thoughts (Jamaica Plain, MA)</a></li>
        </ul>
        <h6>Interested in carrying Singles Club issues in your shop? <a href="mailto:hello@singlesclub.fm">Get in touch!</a></h6>
    </div>
    <div class="col col-8 col-offset-1">
      <img src="/../images/singlesclub-about-1.jpg" class="fit">
        <a href="http://www.danieldorsa.com/">
          <h6>Photo: Daniel Dorsa</h6>
        </a>
      <p class="py2"> Singles Club was started in 2014 by two old friends, <a href="https://twitter.com/ChrisMuccioli">Chris Muccioli</a> and <a href="https://twitter.com/futuremyth">Jeffrey Silverstein</a> as an attempt to bridge the gap between the physical and digital music landscapes. We seek to tell the incredible stories of musicians and artists we’ve handpicked for each release via limited-run 7” records paired with long form features, photo essays, and more on our digital journal.  We are writers, musicians, designers, and die-hard music fans. </p>
    </div>
  </div>
</div>
<div class="image-set mobile-hide">
  <div class="full-width paralax-image" style="background-image:url('/../images/singlesclub-about-2.jpg'); background-position: center center; height: 600px;">
  </div>
  <a href="http://www.danieldorsa.com/">
    <h6 class="p2">Photo: Daniel Dorsa</h6>
  </a>
</div>
<div class="container soft-page">
  <div class="row">
    <div class="col col-3 py2">
      <h1 class="lydia-italic caps pb2">FAQ</h1>
      <p>Here are some frequently asked questions we get. Don’t see something here and want to get in touch? Drop us a line to hello@singlesclub.fm and we’ll get back to you in a jiffy. </p>
    </div>
    <div class="col col-8 col-offset-1 faq">

      <p>How do you select your artists?</p>
      <h6>Simply put, we’re looking for artists who are not only making great music, but those with stories to share. We listen to a TON of different music and are always looking to be inspired. Got someone you think we should hear? Let us know! Keep up with what we’re listening to on our <a href="http://www.soundcloud.com/singlesclubfm">soundcloud</a>. </h6>

      <p>How much does a subscription to Singles Club cost?</h4>
      <h6>Subscriptions are available for $55 + shipping. Single issues are available for $8 plus shipping.</h6>

      <p>What’s included in a standard subscription?</p>
      <h6>Lots! Head to our <a href="/subscription">subscription</a> page to learn more about what you can expect when you subscribe.</h6>

    <!--   <p>How soon can I expect my first issue after subscribing?</p>
      <h6>As soon as humanly possible. With our new rolling subscription model, you decide!  If you subscribe in between releases, you’ll have the option of choosing which issue you’d like to start off with. Either the latest release, or the upcoming one. Either way, your subscription will get you four issues, guaranteed.</h6> -->

      <p>Can I buy an individual issue?</p>
      <h6>You bet! Individual issues are on sale for each release for $8 + shipping. <a href="/subscribe">Head here</a> to learn more about what you’ll get with a single issue purchase.</h6>

      <p>Can I buy individual issues from Volume One?</p>
      <h6>Yes you can! Singles from Year 1 are available for $6 each right <a href="shop.singlesclub.fm/collections/singles">here</a>. </h6>

      <p>How long does my subscription last?</p>
      <h6>A subscription to Singles Club will last you through four issues, January - January.</h6>

      <p>I changed my address and need to update my shipping info. Where can I do that?</p>
      <h6>No problem! Jump over to our <a href="https://docs.google.com/a/singlesclub.fm/forms/d/1v23fIlZCqI2c8tPqzFEU8JeKtrc2TXKMV33r9BQgJAI/viewform">change of address</a> form and let us know that you've made a move.</h6>

      <p>Do you ship internationally?</p>
      <h6>You bet. Special international shipping rates apply.</h6>

      <p>I never received a shipping/confirmation email from you. What gives?</p>
      <h6>Each order should receive individual confirmation and shipping emails. If for some reason you haven’t received one, just let us know at <a href="mailto:hello@singlesclub.fm">hello@singlesclub.fm</a>.</h6>

      <p>I’d like to submit my band for a potential Singles Club release. Where do I send music to?</p>
      <h6>Please send any/all demo submissions to <a href="mailto:hello@singlesclub.fm">hello@singlesclub.fm</a>. We will do our best to listen to anything and everything you send us and try to get back to you in a speedy fashion.</h6>

      <p>I’m a writer, photographer, or videographer and want to work with you. How can I get in touch?</p>
      <h6>We are ALWAYS looking for more contributors. Drop us a line at <a href="mailto:hello@singlesclub.fm">hello@singlesclub.fm</a> with a link to your portfolio, clips, etc. and we’ll be in touch.</h6>

      <p>I’d like have Singles Club carry our product in your shop. Can I make this happen?</p>
      <h6>We’re always open to ideas. Artwork, photography, you name it. Say hello at you guessed it, <a href="mailto:hello@singlesclub.fm">hello@singlesclub.fm</a> and we’ll see what we can do.</h6>

    </div>
  </div>
</div>

{% include _footer.html %}
</body>
</html>
