---
title: "About / FAQ - Singles Club"
description: "About Singles Club"
socialimage: "images/smallsur_facebook.jpg"
highlight: "#6600FF"
highlight-light: "#f2effe"
highlight-dark: "#1E005F"
---
{% include head.html %}
<body class="bg-light-gray">
{% include _alert-banner.html %}
{% include _top-nav.html %}
<div class="container bg-white p4">
  <div class="row">
    <div class="col col-4">
      <h1>About</h1>
    </div>
    <div class="col col-8">
      <p> Singles Club was started in 2014 by two old friends, Chris Muccioli and Jeffrey Silverstein as an attempt to bridge the gap between the physical and digital music landscapes. We seek to tell the incredible stories of musicians and artists we’ve handpicked for each release via limited-run 7” records paired with long form features, photo essays, and more on our digital journal.  We are writers, musicians, designers, and die-hard music fans. Keep up with what Chris and Jeff are up to. </p>
      <p> Singles Club was started in 2014 by two old friends, Chris Muccioli and Jeffrey Silverstein as an attempt to bridge the gap between the physical and digital music landscapes. We seek to tell the incredible stories of musicians and artists we’ve handpicked for each release via limited-run 7” records paired with long form features, photo essays, and more on our digital journal.  We are writers, musicians, designers, and die-hard music fans. Keep up with what Chris and Jeff are up to. </p>
      <p> Singles Club was started in 2014 by two old friends, Chris Muccioli and Jeffrey Silverstein as an attempt to bridge the gap between the physical and digital music landscapes. We seek to tell the incredible stories of musicians and artists we’ve handpicked for each release via limited-run 7” records paired with long form features, photo essays, and more on our digital journal.  We are writers, musicians, designers, and die-hard music fans. Keep up with what Chris and Jeff are up to. </p>
      <p> Singles Club was started in 2014 by two old friends, Chris Muccioli and Jeffrey Silverstein as an attempt to bridge the gap between the physical and digital music landscapes. We seek to tell the incredible stories of musicians and artists we’ve handpicked for each release via limited-run 7” records paired with long form features, photo essays, and more on our digital journal.  We are writers, musicians, designers, and die-hard music fans. Keep up with what Chris and Jeff are up to. </p>

    </div>
  </div>
</div>

{% include _footer.html %}
</body>
</html>
