---
title: "About / FAQ - Singles Club"
description: "About Singles Club"
socialimage: "images/smallsur_facebook.jpg"
highlight: "#D6C46E"
highlight-light: "#f6e596"
highlight-dark: "#978a4d"
---
{% include head.html %}
<body class="bg-light-gray">
{% include _alert-banner.html %}
{% include _top-nav.html %}
<div class="container soft-page">
  <div class="row">
    <div class="col col-3">
      <h1 class="lydia-italic caps pb4">About</h1>
        <h5 class="title-caps">Featured In</h5>
        <ul class="list-reset lh3">
          <li><a href="http://blog.urbanoutfitters.com/blog/uo_interviews_singles_club?cm_re=Blog_Content-_-B12-_-uo_interviews_singles_club" target="_blank">Urban Outfitters Blog</a></li>
          <li><a href="http://www.coolhunting.com/culture/singles-club-vinyl-subscription-year-two" target="_blank">Cool Hunting</a></li>
          <li><a href="https://loppist.com/journal/10-questions-with-singles-club" target="_blank">The Loppist</a></li>
          <li><a href="http://www.thefuturepositive.com/projects/singles-club/" target="_blank">Future Positive</a></li>
          <li><a href="http://www.bkmag.com/2014/08/20/need-to-know-singles-club/" target="_blank">Brooklyn Mag</a></li>
        </ul>
        <h5 class="title-caps">Stockists</h5>
        <ul class="list-reset lh3">
          <li><a href="http://www.portofsoundrecords.com/" target="_blank">Port Of Sound (Costa Mesa, CA)</a></li>
          <li><a href="https://www.facebook.com/steadysounds/" target="_blank">Steady Sounds (Richmond, VA)</a></li>
          <li><a href="http://www.humanheadnyc.com/" target="_blank">Human Head Records (Brooklyn, NY)</a></li>
          <li><a href="http://recordgrouch.com/" target="_blank">Record Grouch (Brooklyn, NY)</a></li>
          <li><a href="http://www.academy-records.com/" target="_blank">Academy Records (Brooklyn, NY)</a></li>
          <li><a href="http://blackgoldbrooklyn.com/" target="_blank">Black Gold Records (Brooklyn, NY)</a></li>
          <li><a href="http://www.roughtrade.com/" target="_blank">Rough Trade (Brooklyn, NY)</a></li>
          <li><a href="http://www.grimeys.com/" target="_blank">Grimeys (Nashville, TN)</a></li>
          <li><a href="http://hymiesrecords.com/" target="_blank">Hymies Vintage Records (Minneapolis, MN)</a></li>
          <li><a href="http://www.deepthoughtsjp.com/" target="_blank">Deep Thoughts (Jamaica Plain, MA)</a></li>
          <li><a href="http://redscrollrecords.com/" target="_blank">Redscroll Records (Wallingford, CT)</a></li>
        </ul>
        <p>Interested in carrying Singles Club issues in your shop? <a href="mailto:hello@singlesclub.fm">Get in touch!</a></p>
    </div>
    <div class="col col-8 col-offset-1">
      <img src="/../images/singlesclub-about-1.jpg" class="fit">
        <a href="http://www.danieldorsa.com/">
          <h6>Photo: Daniel Dorsa</h6>
        </a>
      <p class="py2"> Singles Club was started in 2014 by two old friends, <a href="https://twitter.com/ChrisMuccioli">Chris Muccioli</a> and <a href="https://twitter.com/futuremyth">Jeffrey Silverstein</a> as an attempt to bridge the gap between the physical and digital music landscapes. We seek to tell the incredible stories of musicians and artists we’ve handpicked for each release via limited-run 7” records paired with long form features, photo essays, and more on our digital journal.  We are writers, musicians, designers, and die-hard music fans. </p>
    </div>
  </div>
</div>
<div class="image-set mobile-hide">
  <div class="full-width paralax-image" style="background-image:url('/../images/singlesclub-about-2.jpg'); background-position: center center; height: 600px;">
  </div>
  <a href="http://www.danieldorsa.com/">
    <h6 class="p2">Photo: Daniel Dorsa</h6>
  </a>
</div>
<div class="container soft-page">
  <div class="row">
    <div class="col col-3 py2">
      <h1 class="lydia-italic caps pb2">FAQ</h1>
      <p>Here are some frequently asked questions we get. Don’t see something here and want to get in touch? Drop us a line to hello@singlesclub.fm and we’ll get back to you in a jiffy. </p>
    </div>
    <div class="col col-8 col-offset-1 faq">

      <p class="py2 bold">How do you select your artists?</p>
      <p>Simply put, we’re looking for artists who are not only making great music, but those with stories to share. We listen to a TON of different music and are always looking to be inspired. Got someone you think we should hear? Let us know! Keep up with what we’re listening to on our <a href="http://www.soundcloud.com/singlesclubfm">soundcloud</a>. </p>

      <p class="py2 bold">How much does a subscription to Singles Club cost?</h4>
      <p>Subscriptions are available for $55 + shipping. Single issues are available for $8 plus shipping.</p>

      <p class="py2 bold">What’s included in a standard subscription?</p>
      <p>Lots! Head to our <a href="/subscription">subscription</a> page to learn more about what you can expect when you subscribe.</p>

    <!--   <p>How soon can I expect my first issue after subscribing?</p>
      <h6>As soon as humanly possible. With our new rolling subscription model, you decide!  If you subscribe in between releases, you’ll have the option of choosing which issue you’d like to start off with. Either the latest release, or the upcoming one. Either way, your subscription will get you four issues, guaranteed.</h6> -->

      <p class="py2 bold">Can I buy an individual issue?</p>
      <p>You bet! Individual issues are on sale for each release for $8 + shipping. <a href="/subscribe">Head here</a> to learn more about what you’ll get with a single issue purchase.</p>

      <p class="py2 bold">Can I buy individual issues from Volume One?</p>
      <p>Yes you can! Singles from Year 1 are available for $6 each right <a href="shop.singlesclub.fm/collections/singles">here</a>. </p>

      <p class="py2 bold">How long does my subscription last?</p>
      <p>A subscription to Singles Club will last you through four issues, January - January.</p>

      <p class="py2 bold">I changed my address and need to update my shipping info. Where can I do that?</p>
      <p>No problem! Jump over to our <a href="https://docs.google.com/a/singlesclub.fm/forms/d/1v23fIlZCqI2c8tPqzFEU8JeKtrc2TXKMV33r9BQgJAI/viewform">change of address</a> form and let us know that you've made a move.</p>

      <p class="py2 bold">Do you ship internationally?</p>
      <p>You bet. Special international shipping rates apply.</p>

      <p class="py2 bold">I never received a shipping/confirmation email from you. What gives?</p>
      <p>Each order should receive individual confirmation and shipping emails. If for some reason you haven’t received one, just let us know at <a href="mailto:hello@singlesclub.fm">hello@singlesclub.fm</a>.</p>

      <p class="py2 bold">I’d like to submit my band for a potential Singles Club release. Where do I send music to?</p>
      <p>Please send any/all demo submissions to <a href="mailto:hello@singlesclub.fm">hello@singlesclub.fm</a>. We will do our best to listen to anything and everything you send us and try to get back to you in a speedy fashion.</p>

      <p class="py2 bold">I’m a writer, photographer, or videographer and want to work with you. How can I get in touch?</p>
      <p>We are ALWAYS looking for more contributors. Drop us a line at <a href="mailto:hello@singlesclub.fm">hello@singlesclub.fm</a> with a link to your portfolio, clips, etc. and we’ll be in touch.</p>

      <p class="py2 bold">I’d like have Singles Club carry our product in your shop. Can I make this happen?</p>
      <p>We’re always open to ideas. Artwork, photography, you name it. Say hello at you guessed it, <a href="mailto:hello@singlesclub.fm">hello@singlesclub.fm</a> and we’ll see what we can do.</p>

    </div>
  </div>
</div>

{% include _footer.html %}
</body>
</html>
