---
title: "Issue 5 – Monster Rally"
description: "Singles Club Issue 5: Monster Rally"
socialimage: "images/smallsur_facebook.jpg"
highlight: "#00e78d"
highlight-light: "#00fc9a"
highlight-dark: "#00b36d"
soundcloud-url: "https://soundcloud.com/singlesclubfm/wisdom-tooth-sc0004-silver"
artist-name: "Monster Rally"
track-name: "Moonlight Ballroom"
volume-number: "2"
page-route: "journal"
social-image: "images/wisdom-tooth-social.jpg"
url: "wisdom-tooth"
issue-number: "5"
quarter: "Spring"
purchase-url: ""
year: "2015"
release-number: "005"
---

{% include head.html %}

<body class="bg-white">
<div class="issue-header-wrapper monster-rally">
      {% include _alert-banner.html %}
      {% include _top-nav.html %}
  <div class="container white px2">
    <div class="row issue-title-wrapper">
      <div class="col col-6 mobile-center">
            <div class="row py2 px2">
              <img src="/../images/sc.svg" style="width: 20px; margin-right: 10px" class="left mobile-hide">
              <h6 class="title-caps" style="margin-top: 5px;">Vol {{ page.volume-number }} | Issue #{{ page.issue-number }} | {{ page.quarter }} {{ page.year }}</h6>
            </div>
            <div class="row">
              <div class="col col-12">
                <h1 class="mega headline-type">{{ page.artist-name }}</h1>
              </div>
            </div>
<!--             <div class="row py3">
              <div class="col col-12">
                <a href="#">
                  <div class="button button-highlight py6 white">
                    Subscribe
                  </div>
                </a>
              </div>
            </div> -->
          </div>
        </div>
    </div>
  </div>
  {% include _subscription-pitch.html %}
  <div class="container py4">
    <div class="row center title-caps">
      <h5>More ways to get it</h5>
    </div>
    <div class="row py2">
      <div class="col col-4 center">
        <img src="/../images/mr-bundle-single.jpg" class="fit py2">
        <p>Monster Rally - Coral/Return To Paradise + Issue 5: Monster Rally</p>
        <a href="http://shop.singlesclub.fm/collections/subscription-bundles/products/monster-rally-sc005">$38 – Get It</a>
      </div>
      <div class="col col-4 center">
        <img src="/../images/mr-bundle-subscription.jpg" class="fit py2">
        <p>Monster Rally - Coral/Return To Paradise + Singles Club Subscription</p>
        <a href="http://shop.singlesclub.fm/collections/subscription-bundles/products/monster-rally-sc-subscription">$85 – Get It</a>
      </div>
      <div class="col col-4 center">
        <img src="/../images/mr-single.jpg" class="fit py2">
        <p>Singles Club Issue 5: Monster Rally (Single Issue)</p>
        <a href="http://shop.singlesclub.fm/collections/all/products/sc005-monster-rally">$8 – Get It</a>
      </div>
    </div>
    <div class="row bg-white py4">
      <div class="col col-10 col-offset-1">
          <h5 class="h5 title-caps pb3">Catch Up</h5>
          <p class="black"> Catch up on the latest from Monster Rally. Jump start your collection with a bundle and dig into the Sunflower EP out now via <a href="http://gold-robot.com/">Gold Robot Records</a>.</p>
          <iframe width="100%" class="" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/30885641&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      </div>
    </div>
  </div>

      {% include _footer.html %}
</body>
</html>
