---
title: "Issues - Singles Club"
description: "Singles Club Issue 3: Woodsman"
socialimage: "images/smallsur_facebook.jpg"
highlight: "#6600FF"
highlight-light: "#f2effe"
highlight-dark: "#1E005F"
soundcloud-url: "https://soundcloud.com/singlesclubfm/woodsman-sc003-further"
artist-name: "Woodsman"
track-name: "Further"
volume-number: "1"
issue-number: "3"
quarter: "Summer"
purchase-url: ""
year: "2014"
release-number: "003"
---

{% include head.html %}
<body>
{% include _alert-banner.html %}
{% include _top-nav.html %}
  <div class="row px2">
    <a href="#">
    <div class="col col-8 bg-blue issue issue-woodsman">
      <div class="row full-height">
        <div class="issue-label bg-dark-gray p2">
          <h6 class="caps" style="margin-top: 5px;">Vol 1 | Issue #003 | Summer 2014</h6>
          <h2>Woodsman</h2>
        </div>
      </div>
    </div>
    </a>
    <a href="#">
    <div class="col col-4 bg-red issue Woodsman">
            <div class="row full-height">
        <div class="issue-label bg-dark-gray p2">
          <h6 class="caps" style="margin-top: 5px;">Vol 1 | Issue #003 | Summer 2014</h6>
          <h2>Woodsman</h2>
        </div>
      </div>
    </div>
    </a>
  </div>
  <div class="row px2">
    <a href="#">
    <div class="col col-3 bg-gray issue Woodsman">
            <div class="row full-height">
        <div class="issue-label bg-dark-gray p2">
          <h6 class="caps" style="margin-top: 5px;">Vol 1 | Issue #003 | Summer 2014</h6>
          <h2>Woodsman</h2>
        </div>
      </div>
    </div>
    </a>
    <a href="#">
    <div class="col col-9 bg-mid-gray issue Woodsman">
            <div class="row full-height">
        <div class="issue-label bg-dark-gray p2">
          <h6 class="caps" style="margin-top: 5px;">Vol 1 | Issue #003 | Summer 2014</h6>
          <h2>Woodsman</h2>
        </div>
      </div>
    </div>
    </a>
  </div>
</body>
{% include _footer.html %}
