---
title: "Subscribe - Singles Club"
description: "About Singles Club"
socialimage: "images/smallsur_facebook.jpg"
highlight: "#00e78d"
highlight-light: "#00fc9a"
highlight-dark: "#00b36d"
---
{% include head.html %}
<body class="dark-gray">
{% include _alert-banner.html %}
{% include _top-nav.html %}
<div class="bg-white">
<div class="full-width paralax-image" style="background-image:url('../images/ted-poster.jpg'); height: 600px;">
  <h6 class="px2 white bold mobile-hide" style="padding-top: 550px;">Fold-out poster featuring exclusive artwork <br> from Monster Rally available for subscribers only.</h6>
</div>
<div class="container px2">
  <div class="single-issue center title-caps white">
    <h1 class="pb2 lydia ls1"> Join the club</h1>
    <img src="../images/single-issue.png">
  </div>
</div>
<div class="container px2">
  <div class="row center">
    <div class="col col-8 col-offset-2">
      <h1 class="pb2 lydia ls1">SINGLES CLUB YEAR 2</h1>
      <h4> Next Up: Issue 5 feat. Monster Rally </h4>
      <div class="py4">
        <p>Singles Club is a record club and digital music journal published quarterly. Subscriptions include four issues shipped straight to your door.</p>
        <h3> <span class="underline black">Every issue includes an exclusive 7" single, full-color artwork, digital download, and an interview with the artist on the b-side.</span></h3>
      </div>
    </div>
  </div>
</div>
{% include _subscription-pitch.html %}
<div class="container px3 py4">
  <div class="row center">
    <img src="../images/year2-record.jpg" style="max-width: 600px; width: 100%;">
  </div>
  <div class="row center py2">
    <div class="col col-8 col-offset-2">
      <h1 class="lydia title-caps">Single Issue</h1>
      <h2>Monster Rally</h2>
      <h2>$8 + shipping</h2>
      <a href="http://shop.singlesclub.fm/collections/all/products/sc005-monster-rally">
        <div class="button button-highlight mt2 mb2 py4 white">
          Pre-order Now
        </div>
      </a>
      <p>New for this year, we're offering up single issues of Singles Club releases for purchase without a subscription. You'll miss out on subscriber perks, but the music is still yours.</p>
      <div class="py2">
        <h4> <span class="underline black">Single issues still include an exclusive track from the artist, beautiful full-color artwork, digital download, and an interview with the artist on the b-side.</span></h4>
      </div>
    </div>
  </div>
</div>
</div>
<div class="full-width">
<img src="../images/year1-subscription.jpg" class="fill">
</div>
<div class="bg-black py4 white">
  <div class="container px2">
    <div class="row center">
      <h1 class="lydia title-caps">Singles Club Year 1</h1>
      <h3>Missed Out on year one? Grab the four issue box set now.</h3>
      <h5>Featuring: Daniel Bachman, Small Sur, Woodsman, and Wisdom Tooth</h5>
      <h2>$45 + shipping</h2>
      <a href="http://shop.singlesclub.fm/collections/all/products/singles-club-2014-subscription">
        <div class="button button-highlight mt2 white">
          Buy Now
        </div>
      </a>
    </div>
  </div>
</div>


{% include _footer.html %}
</body>
</html>
