---
title: "Subscribe - Singles Club"
description: "About Singles Club"
socialimage: "images/smallsur_facebook.jpg"
highlight: "#D6C46E"
highlight-light: "#f6e596"
highlight-dark: "#978a4d"
---
{% include head.html %}

<body class="dark-gray bg-white">
{% include _alert-banner.html %}
{% include _top-nav.html %}
<!-- <div class="bg-white">
<div class="full-width paralax-image mobile-hide" style="background-image:url('../images/ted-poster.jpg'); height: 600px;">
  <h6 class="px2 white bold mobile-hide" style="padding-top: 550px;">Fold-out poster featuring exclusive artwork <br> from Monster Rally available for subscribers only.</h6>
</div>
<div class="container px2">
  <div class="single-issue center caps white">
    <h1 class="lydia"> Join the club</h1>
    <img src="/../images/single-issue.png">
  </div>
</div>
<div class="container px3">
  <div class="row center">
    <div class="col col-8 col-offset-2">
      <h1 class="pb2 lydia caps">SINGLES CLUB <span class="desktop-hide"><br></span>YEAR 2</h1>
      <h4> Out Now: Issue 5 feat. Monster Rally </h4>
      <div class="py4">
        <p>Singles Club is a record club and digital music journal published quarterly. Subscriptions include four issues shipped straight to your door.</p>
        <h3> <span class="underline black">Every issue includes an exclusive 7" single, full-color artwork, digital download, and an interview with the artist on the b-side.</span></h3>
      </div>
    </div>
  </div>
</div> -->

<div class="py6 subscription">
  <div class="container px2 white">
    <div class="row">
      <h1 class="lydia-italic caps">join the club</h1>
      <h2>4 Stories. 4 Singles. One year.</h2>
      <a href="http://shop.singlesclub.fm/products/singles-club-vol-2-subscription">
        <div class="button button-highlight mt2 white">
          Subscribe Now
        </div>
      </a>
      <p class="pt2">New subscriptions start with Issue 5 - Monster Rally<p>
    </div>
  </div>
</div>

<div class="bg-white">
<div class="container px3">
<div class="py4">
<!--     <div class="row pb2">
      <div class="center">
        <h1 class="lydia-italic caps"> join the club </h1>
        <p class="py3">Singles Club is a subscription record club and digital music journal published quarterly. We pair physical 7” records with digital content + media to share stories of musicians across varied genres and backgrounds. This single contains an exclusive A-Side recording from the artist along with an interview on the B-Side featuring the artist's description of the project and track.</p>
        <img src="/../images/vol2-subscription.jpg" class="fit">
      </div>
    </div> -->

    <div class="row">
      <h3 class="lydia-italic caps pb3"> what's included </h3>
      <div class="col col-4">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-box.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">45 Box</h4>
            <p>Our signature Singles Club box that holds up to 4 issues.</p>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-adapter.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">45 Adapter</h4>
            <p>A "Stay Single" 45 adapter to play each issue.</p>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-color.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">Color Variant</h4>
            <p>Subscribers receive a special clear vinyl variant.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row py2">
      <div class="col col-4">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-pin.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">SC Pin</h4>
            <p>Our signature enamel lapel pin. Wear it proud.</p>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-artist.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">Bonus Item</h4>
            <p>We've worked with each artist to come up with a special printed artifact, just for subscribers.</p>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="table mobile-center">
          <div class="table-cell subscribe-icon"><img src="/../images/subscribe-100.svg"></div>
          <div class="table-cell full-width">
            <h4 class="bold">4 Issues</h4>
            <p>On or around every 3 months. Sometimes earlier, sometimes later.</p>
          </div>
        </div>
      </div>
    </div>
      <a href="http://shop.singlesclub.fm/products/singles-club-vol-2-subscription">
        <div class="button button-highlight mt2 white">
          $55 – Subscribe Now
        </div>
      </a>
    </div>
</div>
</div>
<div class="container px2 border-top">
  <div class="row py4">
    <div class="col col-6">
      <img src="../journal/michael-nau/images/michael-cover-mock.jpg" style="max-width: 600px; width: 100%;">
    </div>
    <div class="col col-6 py4">
      <h1 class="lydia-italic caps">grab a single</h1>
      <p>New for this year, we're offering up single issues of Singles Club releases for purchase without a subscription. You'll miss out on subscriber perks, but the music is still yours.</p>
      <a href="http://shop.singlesclub.fm/collections/singles">
        <div class="button button-highlight mt2 mb2 py4 white">
          $8 – Buy Now
        </div>
      </a>
    </div>
  </div>
</div>
</div>
<div class="full-width bg-black">
<img src="../images/year1-subscription.jpg" class="fill">
</div>
<div class="bg-black py4 white">
  <div class="container px3">
    <div class="row center">
      <h1 class="lydia-italic caps">Singles Club Year 1</h1>
      <h3>Missed Out on year one? Grab the four issue box set now.</h3>
      <h5>Featuring: Daniel Bachman, Small Sur, Woodsman, and Wisdom Tooth</h5>
      <a href="http://shop.singlesclub.fm/collections/all/products/singles-club-2014-subscription">
        <div class="button button-highlight mt2 white">
          $45 – Buy Now
        </div>
      </a>
    </div>
  </div>
</div>


{% include _footer.html %}
</body>
</html>
